/* Content
-----------------------------------------------------------------------------*/

.content {
	min-height: 1200px;
	background: #f5f7f9;
	padding-bottom: 100px;
}

.section{
	position: relative;
	overflow: hidden;

	&__head{
		display: flex;
		justify-content: flex-end;
		margin: 86px 20px 0 0;
		z-index: 1;
		position: relative;
		min-height: 90px;

		.c-title{
			margin: 0;
		}
	}
}

.c-title{
	font-size: 64px;
	font-weight: bold;
	line-height: 1.41;
	color: #023753;
	margin: 0;

	position: absolute;
	left: 0;

	&.clipthru{
		color: #fff;
	}

	@media only screen and (max-width : 768px) {
		font-size: 28px;
		line-height: 1.07;
	}
}

.intro{
	position: relative;
	height: 100vh;
	color: #fff;
	display: flex;
	background: #230cea;
	z-index: 20;

	&__head{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		z-index: 10px;
		padding: 0 10px;
		height: 100px;

		.logo{
			width: 60px;

			&__link{
				background: url(../img/logo.svg) no-repeat;
				color: transparent;
			}

			@media only screen and (max-width : 768px) {
				width: 40px;
				height: 42px;
				margin: 18px 0 0 10px;

				&__link {
					padding: 0;
					background-size: 40px 42px;
				}
			}
		}

		.socials{
			&__img{
				fill: #fff;
			}

			&__item{
				&:hover{
					text-decoration: none;

					.socials__img{
						fill: #fff;
					}

					&:after{
						content: '';
						border-color: #fff;
						background: rgba(0, 0, 0, 0.1);
					}

					.socials__link{
						&:after{
							background: rgba(255, 255, 255, 0.10);
						}
					}
				}
			}

			&__link{
				&:after{
					background: transparent;
				}
			}
		}

		.main-menu{

			&__item{

				&.active{

					&__link{
						color: #fff;
					}
				}

				&:hover{

					&:after{
						opacity: 1;
					}
				}

				&:after{
					background: #fff;
				}
			}

			&__link{
				color: #fff;
			}
		}


		@media only screen and (max-width : 768px) {
			height: 80px;

			&:after{
				content: '';
				position: absolute;
				left: 15px;
				bottom: 0;
				right: 15px;
				height: 1px;
				background: #1661ee;
			}
		}
	}

	&__left{
		position: relative;
		text-align: left;
		z-index: 5;

		&:after{
			content: '';
			position: absolute;
			top: 70px;
			width: 600px;
			left: -616px;
			height: 103px;
			background: url(../img/dots_blue.svg);
			z-index: 0;
		}
	}

	&__right{
		position: relative;
		text-align: right;
		z-index: 3;
	}

	&__desc{
		font-size: 17px;
		line-height: 1.76;
		margin: 0 0 3px;
		color: #ffffff;
	}

	&__title{
		font-size: 44px;
		font-weight: bold;
		line-height: 1.36;
		margin: 0;
		color: #ffffff;
	}

	&__bgs{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;

		.bg-moon-back{
			background: #0e1bf6;
			width: 680px;
			height: 680px;
			border-radius: 50%;

			position: absolute;
			width: 680px;
			height: 680px;
			left: 50%;
			top: 51%;
			transform: translate(-50%, -50%);
			z-index: 0;
		}

		.bg-moon{
			position: absolute;
			width: 680px;
			height: 680px;
			left: 50%;
			top: 51%;
			transform: translate(-50%, -50%);
			z-index: 0;
		}

		.bg-back{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 1440px;
			height: 507px;
		}

		.bg-building_1{
			position: absolute;
			bottom: 26px;
			left: 50%;
			transform: translate(-706px);
			width: 243px;
			height: 229px;
		}

		.bg-building_2{
			position: absolute;
			bottom: 29px;
			left: 50%;
			transform: translate(-459px);
			width: 93px;
			height: 255px;
		}

		.bg-building_3{
			position: absolute;
			bottom: 28px;
			left: 50%;
			transform: translate(-357px);
			width: 269px;
			height: 200px;
		}

		.bg-building_4{
			position: absolute;
			bottom: 26px;
			left: 50%;
			transform: translate(127px);
			width: 231px;
			height: 204px;
		}

		.bg-building_5{
			position: absolute;
			bottom: 28px;
			left: 50%;
			transform: translate(383px);
			width: 38px;
			height: 412px;
		}

		.bg-building_6{
			position: absolute;
			bottom: 29px;
			left: 50%;
			transform: translate(440px);
			width: 243px;
			height: 223px;
		}

		&:after{
			content: '';
			height: 30px;
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			background: #fff;
			z-index: 2;
		}
	}

	&__buildings{
		position: absolute;
		right: 0;
		bottom: 0;
		height: 420px;
		left: 50%;
		width: 100%;
		transform: translate(-50%, 0);
	}

	.bg-hand{
		position: absolute;
		width: 302px;
		height: 691px;
		z-index: 5;
		bottom: 0;
		left: 50%;
		transform: translate(-43%, 0);
	}

	&__date{
		font-size: 28px;
		font-weight: 600;
		margin: 0 0 12px;
	}

	&__location{
		font-size: 14px;
		line-height: 1.43;
		margin: 12px 0;
	}

	&__btn-wrap{
		position: relative;
		margin: 120px 0 0;
		display: flex;
		justify-content: flex-end;

		&:after{
			position: absolute;
			top: 6px;
			left: 50%;
			transform: translateX(-50%);
			content: '';
			width: 860px;
			height: 43px;
			justify-content: center;
			position: absolute;
			background: url(../img/dots_blue.svg);
		}

		.basic-btn{
			position: relative;
			z-index: 1;
		}
	}

	.container{
		position: relative;
		min-height: 450px;
		max-width: 1190px;
		margin: auto;
		width: 100%;
		display: flex;
		justify-content: space-between;
		z-index: 4;

	}

	@media only screen and (max-height : 700px) {

		min-height: 650px;
		
		.bg-hand{
			width: 38vh;
			height: 86vh;
		}
		
		.bg-moon-back{
			width: 85vh;
			height: 85vh;
		}
		
		.bg-moon{
			width: 85vh;
			height: 85vh;
		}
		
		.bg-back{
			width: 180vh;
			height: 63.5vh;
		}
	}

	@media only screen and (min-height : 1000px) {
		
		.bg-hand{
			width: 350px;
			height: 787px;
		}
	}

	@media only screen and (max-width : 1200px) {
		
		.bg-hand{
			height: 460px;
		}

		.container{
			max-width: 780px;
		}
	}

	@media only screen and (max-width : 768px) {
		height: auto;
		z-index: 1;

		&__head{
			display: none;
		}

		&__left{
			position: initial;
			min-height: 294px;
		}

		&__right{
			padding: 0 0 10px;
		}

		&__desc{
			font-size: 12px;
			line-height: 1.5;
			margin: 0 0 14px;
		}

		&__title{
			font-size: 28px;
			font-weight: bold;
			line-height: 1.07;
		}

		&__date{
			font-size: 14px;
			font-weight: 600;
			margin: 0 0 6px;
		}

		&__location{
			font-size: 12px;
			line-height: 1.5;
			margin: 0 0 19px;
		}

		&__btn-wrap{
			margin: 0;

			.basic-btn{
				padding: 0 10px;
				height: 44px;
			}
		}

		&__bgs{


			&:after{
				/*height: 160px;*/
			}
		}

		.conf-stats{
			margin: 0;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.container{
			padding: 100px 20px 165px;
			display: block;
			margin: 0 auto;
			max-width: 500px;
		}

		.bg-hand{
			width: 52%;
			height: 380px;
			left: 10px;
			bottom: 122px;
			transform: translateX(0);
		}

		.conf-stats{
			width: 100%;
			padding: 42px 20px 20px 40px;
			background: #fff;
			z-index: 10;

			&__item{
				color: #1703c4;
				font-size: 14px;
				margin: 0 0 13px;
			}

			&__num{
				font-size: 14px;
				width: 50px;
			}
		}
		
		.bg-back,
		.bg-building_1,
		.bg-building_2,
		.bg-building_3,
		.bg-building_4,
		.bg-building_5,
		.bg-building_6{
			display: none;
		}
	}
}

.conf-stats{
	position: relative;
	padding: 0;
	margin: 78px 0 0;
	list-style: none;

	&__item{
		font-size: 16px;
		line-height: 1.25;
		color: #ffffff;
		margin: 0 0 15px;
	}

	&__num{
		position: relative;
		top: 1px;
		font-size: 20px;
		font-weight: 600;
		display: inline-block;
		width: 57px;
	}

	&:after{
		content: '';
		position: absolute;
		left: -46px;
		top: 1px;
		width: 23px;
		bottom: 0;
		background: url(../img/dots_w.svg);
		z-index: 1;
	}
}

.event{
	position: relative;
	margin: 0 0 100px;

	&__wrap{
		position: relative;
		z-index: 2;
		margin: 0 0 0 auto;
	}

	&__slogan{
		opacity: 0.6;
		font-size: 16px;
		line-height: 1.88;
		color: #023753;
		margin: 16px 0 20px;
	}

	&__content{
		margin: 0 0 0 auto;
		max-width: 750px;
	}

	&__title{
		font-size: 20px;
		font-weight: 500;
		line-height: 2;
		color: #023753;
		margin: 20px 0 40px;
		max-width: 650px;
	}

	&__pic{
		float: right;
		margin: -20px 0 0 50px;
	}

	&__desc{
		font-size: 16px;
		line-height: 1.88;
		color: #023753;
		margin: 40px 0 0 0;
	}

	&__box-1{
		position: absolute;
		width: 900px;
		height: 600px;
		background: #230cea;
		left: 50%;
		transform: translateX(-1175px);
		top: 140px;
		z-index: 1;
	}

	&__box-2{
		position: absolute;
		width: 445px;
		height: 210px;
		background: #230cea;
		left: 50%;
		transform: translate(62%);
		bottom: 0;
		z-index: 1;
	}

	&__dots-1{
		position: absolute;
		width: 163px;
		height: 63px;
		left: 87.6%;
		top: 140px;
		z-index: 1;
		width: 163px;
		height: 63px;
		background: url(../img/dots_g.svg);
	}

	&__bg-1{
		position: absolute;
		width: 1020px;
		height: 436px;
		background: #230cea;
		position: absolute;
		left: 50%;
		bottom: 0;
		background: url(../img/event-bg.svg);
		z-index: 1;
		transform: translateX(-720px);

		&.clipthru{
			background: url(../img/event-bg_w.svg);
		}
	}

	.container{
		max-width: 1170px;
		padding: 140px 10px 58px 210px;
	}

	@media only screen and (max-width : 1024px) {

	

		&__box-1{
			transform: translateX(-1280px);
		}

		.container{
			padding: 140px 10px 58px 10px;
		}
	}

	@media only screen and (max-width : 768px) {
		margin: 50px 0 0;
		
		.section__head{
			margin: 14px 0 0;
			min-height: 48px;
		}

		
		&__slogan{
			opacity: 0.6;
			font-size: 12px;
			line-height: 2;
			max-width: 170px;
			margin: -22px 0 10px;

			br{
				display: none;
			}
		}

		&__title{
			font-size: 14px;
			font-weight: 500;
			line-height: 1.79;
			padding: 0 0 0 80px;
			margin-bottom: 20px;
		}

		&__pic{
			display: none;
		}

		&__desc{
			font-size: 12px;
			line-height: 2;
			background: #fff;
			padding: 20px 20px 30px;
			margin: -20px -20px -30px;
		}

		&__box-1{
			top: 0;
			transform: translateX(-980px);
			height: 300px;
			left: 0;
			transform: translateX(0);
			width: 80px;
		}

		&__box-2{
			display: none;
		}

		&__bg-1{
			width: 600px;
			transform: translateX(-485px);
			background-size: 100% 100%;
			background-position: center bottom;
		}

		.container{
			padding: 30px 20px 30px 20px;
		}
	}
}


.speakers{

	&__more{
		position: relative;
		align-items: center;
		display: flex;
		width: 100px;
		height: 50px;
		border: solid 2px #0024ff;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		color: #0024ff;
		margin: 10px auto 20px;
		white-space: nowrap;
		min-width: 200px;
		padding: 0 10px;
		text-align: center;
		justify-content: center;
		background: #f5f7f9;
		z-index: 1;
		text-transform: uppercase;
		cursor: pointer;
		display: none;

		&:hover{
			background: #0024ff;
			color: #fff;
		}
	}

	&__box-1{
		width: 1250px;
		height: 366px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-27%);
		background: #230cea;
		z-index: 0;
	}

	&__box-2{
		width: 1020px;
		height: 250px;
		position: absolute;
		left: 63%;
		bottom: 0;
		background: #230cea;
	}

	.section__head{
		max-width: 954px;
		margin: 86px auto 70px;
	}

	.container{
		padding-top: 120px;
		padding-bottom: 10px;
		max-width: 1190px;
	}

	@media only screen and (max-width : 768px) {

		&__more{
			display: flex;
		}
		
		.section__head{
			margin: 14px 0 0;
			min-height: 48px;
		}

		.container{
			padding: 30px 10px 30px 10px;
		}

		&__box-1{
			transform: translate(-6.5%);
			height: 210px;

		}
	}
}

.speakers-list{
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 1;

	&__item{
		position: relative;
		padding: 20px;
		min-width: 370px;
		max-width: 370px;
		background: #f5f7f9;
		margin: 20px 0 0 0;
		transition: background 0.1s;

		min-width: auto;
		width: 33%;

		&:nth-child(3n-2){
		}

		&:nth-child(3n-1){
			top: -80px;
		}

		&:nth-child(3n){
			top: -160px;
		}

		&:hover{
			background: #fff; 

			.speakers-list__left:after{
				opacity: 0;
			}
		}


		&.red{ 
			.speakers-list__left:after{
				background: #d00000;
			}
		}
		&.green{
			.speakers-list__left:after{
				background: #36a901;
			}
		}
		&.blue{
			.speakers-list__left:after{
				background: #230cea;
			}
		}
		&.yellow{
			.speakers-list__left:after{
				background: #edb403;
			}
		}
		&.pink{
			.speakers-list__left:after{
				background: #bc0063;
			}
		}
		&.light-blue{
			.speakers-list__left:after{
				background: #0398b1;
			}
		}
		&.violet{
			.speakers-list__left:after{
				background: #810cea;
			}
		}
		&.light-green{
			.speakers-list__left:after{
				background: #00a27a;
			}
		}

	}

	&__head{
		display: flex;
		justify-content: space-between;
		margin: 0 0 20px;
		align-items: flex-start;
	}

	&__left{
		position: relative;
		max-width: 120px;
		width: 100%;
		margin: 0 20px 0 0;
		flex: 1 0 100%;

		img{
			display: block;
			width: 100%;
			height: auto;
		}

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			opacity: 0.5;
			transition: opacity 0.1s;
		}
	}

	&__right{
		flex: 1 1 auto;
	}

	&__top{
		margin: 5px 0 9px;
		display: flex;
		justify-content: space-between;
	}

	&__name{
		font-size: 26px;
		font-weight: 600;
		line-height: 1.15;
		color: #023753;
		margin: 9px 0 9px;
	}

	&__company{
		font-size: 14px;
		line-height: 1.43;
		color: #999999;
		margin: 0;
	}

	&__desc{
		font-size: 12px;
		line-height: 1.67;
		color: #023753;
		margin: 0;
	}

	.socials{
		margin: 0;

		&__item{
			box-shadow: none;
			opacity: 0.2;
			transition: opacity 0.1s;

			&:hover{
				opacity: 1;
			}
		}

		&__link{
			width: 20px;
			height: 20px;

			&:after{
				display: none;
			}
		}

		&__img{
			width: 18px;
			height: 18px;
			fill: #999;
		}
	}

	@media only screen and (max-width : 1024px) {

		&__item{
			width: 49%;
			max-width: none;
			min-width: auto;

			&:nth-child(2n-2){
				top: 0;
			}

			&:nth-child(2n-1){
				top: 0;
			}

			&:nth-child(2n){
				top: -80px;
			}
		}
	}

	@media only screen and (max-width : 768px) {
		margin: 18px 0 10px;

		&__item{
			width: 100%;
			min-width: 0;
			margin: 0;

			&:nth-child(3n-2),
			&:nth-child(3n-1),
			&:nth-child(3n){
				top: 0;
			}
		}

		&__head{
			margin: 0 0 10px;
		}

		&__left{
			max-width: 100px;
		}

		&__top{
			margin: 1px 0 5px;
		}

		&__name{
			font-size: 20px;
			line-height: 1.2;
			margin: 9px 0 6px;
		}

		&__company{
			font-size: 12px;
			line-height: 1.5;
		}

		&__right{
			flex: 1 1;
		}

		.socials{
			margin: -1px 0 0;
		}
	}
}

.talks{

	.section__head{
		max-width: 954px;
		margin: 86px auto 35px;
	}

	.container{
		position: relative;
		padding-top: 132px;
		max-width: 1190px;
		z-index: 1;
	}
	
	&__box-1{
		width: 445px;
		height: 390px;
		position: absolute;
		left: 50%;
		transform: translateX(-720px);
		top: 130px;
		background: #230cea;
		z-index: 0;
	}
	
	&__box-2{
		width: 1300px;
		height: 330px;
		position: absolute;
		left: 50%;
		transform: translateX(-27%);
		bottom: 0;
		background: #230cea;
		z-index: 0;
	}

	@media only screen and (max-width : 768px) {
		
		.section__head{
			margin: 4px 0 8px;
			min-height: 48px;
		}

		.container{
			padding: 30px 10px 30px 10px;
		}

		&__box-1{
			transform: translateX(0);
			left: 0;
			top: 0;
			height: 360px;
			width: 190px;
		}

		&__box-2{
			display: none;
		}
	}
}

.shedule-wrap{
	max-width: 1120px;
	background: #fff;
	padding: 40px 40px 40px 60px;
	margin: 0 auto 50px;

	.slider-pro{
		margin: 0;
	}

	.sp-slide{
		padding: 0 50px 0 0;


		@media only screen and (max-width : 768px) {
				padding: 0 20px 0 0;
		}


		@media only screen and (max-width : 520px) {
			position: relative;
			padding: 0;
			margin: 40px 0 0;

			&:first-child{
				margin: 0;
			}
		}
	}
		
	.sp-thumbnail-container{
		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover{
			.shedule-nav__time,
			.shedule-nav__title{
				color: #033651;
			}
		}
	}
		
	.sp-thumbnail-container.sp-selected-thumbnail{
		.shedule-nav__time,
		.shedule-nav__title{
			color: #220ceb;
		}
	}

	.sp-selected-thumbnail:before,
	.sp-selected-thumbnail:after{
		display: none;
	}

	@media only screen and (max-width : 1024px) {
			padding: 25px 20px 20px 30px;
	}

	.sp-thumbnails-containerm,
	.shedule-nav{

		@media only screen and (max-width : 520px) {
				display: none;
		}
	}
}

.shedule{
	display: flex;
	justify-content: space-between;

	&__left{
		width: 650px;
		margin: 0 20px 0 0;
		height: 400px;
		overflow-y: auto;
	}

	&__right{
		width: 312px;
		height: 400px;
		overflow-y: auto;
	}

	&__item{
		min-height: 400px;
	}

	&__time{
		font-size: 36px;
		font-weight: 500;
		line-height: 1.11;
		color: #230cea;
		display: none;
		margin: 0 0 20px;
	}

	&__title{
		font-size: 36px;
		font-weight: 600;
		color: #023753;
		margin: 0 0 14px;
	}

	&__name{
		font-size: 16px;
		font-weight: 600;
		line-height: 1.25;
		color: #023753;
		margin: 10px 0;
	}

	&__company{
		font-size: 16px;
		line-height: 1.25;
		color: #999999;
		margin: 10px 0;
	}

	&__desc{
		font-size: 16px;
		line-height: 1.88;
		color: #023753;
		margin: 10px 0 16px;
	}

	@media only screen and (max-width : 768px) {

		&__time{
			display: block;
		}

		&__title{
			font-size: 20px;
			line-height: 1.2;
			margin: 0 0 10px;
		}

		&__name{
			font-size: 14px;
			line-height: 1.43;
			margin: 5px 0;
		}

		&__company{
			font-size: 12px;
			line-height: 1.5;
			margin: 5px 0;
		}

		&__desc{
			font-size: 14px;
			line-height: 1.79;
		}
	}
}

.shedule-nav{
	padding: 0;
	margin: 0;
	list-style: none;

	&__item{
		margin: auto 0;
		cursor: pointer;
		color: #999;
		display: block;


		&:hover{
			color: #023753;
		}

		&.sp-selected-thumbnail{
			color: #230cea;

			.shedule-nav__time{
				font-size: 36px;
				font-weight: 500;
			}

			.shedule-nav__title{
				font-size: 20px;
				font-weight: 500;
				margin-top: 14px;
			}
		}
	}

	&__time{
		font-size: 16px;
		font-weight: 500;
		line-height: 1.25;
		margin: 0 0 10px;
		transition: all 0.1s;
	}

	&__title{
		font-size: 14px;
		font-weight: 500;
		line-height: 1.43;
		margin: 10px 0 0;
		transition: all 0.1s;
	}
}

.tags-wrap{
	.tag{
		display: inline-block;
		margin: 0 18px 0 0;
	}
}

.tag{
	font-size: 12px;
	font-weight: 600;
	line-height: 1.67;
	border-radius: 4px;
	background: #f00;
	color: #fff;
	padding: 0 10px;

	&.red{ background: #d00000; }
	&.green{ background: #36a901; }
	&.blue{ background: #230cea; }
	&.yellow{ background: #edb403; }
	&.pink{ background: #bc0063; }
	&.light-blue{ background: #0398b1; }
	&.violet{ background: #810cea; }
	&.light-green{ background: #00a27a; }


	@media only screen and (max-width : 768px) {
		height: 16px;
		font-size: 12px;
		padding: 0 6px;
	}
}

.location{
	background: #f4f4f4;

	&__map{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 1;

		#map{
			width: 100%;
			height: 100%;
		}
	}

	&__content{
		position: relative;
		padding: 10px 0;
		min-height: 588px;
		width: 100%;
		z-index: 2;
	}

	&__address{
		position: absolute;
		width: 360px;
		top: 42px;
		right: -56px;
		font-size: 20px;
		font-weight: 500;
		line-height: 2;
		color: #023753;
		padding: 37px 40px 33px;
		background: #fff;
	}

	&__follow-us{
		width: 100%;
		max-width: 580px;
		position: absolute;
		left: 56px;
		bottom: 0;
		background: #fff;

		.socials{
			margin: 28px 0;
		}
	}

	&__box-1{
		width: 800px;
		height: 580px;
		position: absolute;
		left: 50%;
		transform: translateX(-144%);
		top: 0;
		background: #230cea;
		z-index: 2;
	}

	.section__head{
		position: relative;
		max-width: 954px;
		margin: 65px auto 35px;
		z-index: 1;
	}

	.container{
		position: relative;
		padding-top: 132px;
		padding-bottom: 80px;
		max-width: 1190px;
		z-index: 3;
	}

	@media only screen and (max-width : 768px) {

		&__content{
			padding: 4px 0;
			min-height: 580px;
		}

		&__map{
			top: 90px;
			z-index: 1;

			#map{
				height: 240px;
			}
		}

		&__address{
			display: none;
		}

		&__follow-us{
			left: 0;
		}
		
		.section__head{
			margin: 0 0 0;
			min-height: 48px;
		}

		.container{
			padding: 30px 10px 30px 10px;
		}

		&__box-1{
			transform: translateX(0);
			left: 90px;
			top: 0;
			height: 300px;
			width: 900px;
			z-index: 1;
		}

		&__box-2{
			display: none;
		}
	}
}

.follow-us{
	padding: 40px;

	&__title{
		font-size: 36px;
		font-weight: 600;
		line-height: 1.39;
		color: #023753;
		margin: 4px 0 28px;
	}

	.socials{
		&__link{

			&:hover{
				.socials__img{
					transform: scale(1.2);
				}
			}
		}
	}

	@media only screen and (max-width : 768px) {
		min-height: 320px;
		padding: 18px 20px;
		margin: 0 auto;
		max-width: 380px;
		left: 50%;
		transform: translateX(-50%);

		&__title{
			font-size: 20px;
			font-weight: 600;
			line-height: 1.2;
			padding: 0 10px;
			margin: 4px 0 15px;
		}

		.socials{
			margin: 0 0 20px;

			&__item{
				width: 50%;
				margin: 4px 0 0;
				justify-content: flex-start;
			}

			&__link{
				padding: 0 0 0 10px;
				text-align: left;

				&:hover{
					.socials__img{
						transform: scale(1.2);
					}
				}
			}
		}
	}
}

.sponsors{
	background: #f4f4f4;

	&__head{
		
	}

	&__intro{
		max-width: 550px;
		margin: 35px 0 0 0;
		max-width: 50%;
	}

	&__info{
		font-size: 16px;
		line-height: 1.88;
		color: #ffffff;
		margin: 0 0 20px;
	}

	&__desc{
		font-size: 20px;
		font-weight: 500;
		line-height: 2;
		color: #ffffff;
		margin: 0;

		a{
			color: #ffffff;
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	&__content{
		/*width: 950px;*/
	}

	&__block{
		width: 100%;
		background: #fff;
		padding: 40px;
		margin: 0 0 5px;
	}

	&__title{
		font-size: 36px;
		font-weight: 600;
		line-height: 1.39;
		color: #023753;
		margin: 4px 0;
	}

	&__box-1{
		position: absolute;
		top: 0;
		left: 50%;
		width: 1055px;
		height: 800px;
		background-color: #230cea;
		transform: translateX(-335px);
	}

	.container{
		max-width: 970px;
		padding-top: 116px;
		z-index: 1;
	}
	
	.section__head{
		margin: 86px 0 118px;
	}

	@media only screen and (max-width : 768px) {

		&__intro{
			display: none;
		}

		&__block{
			padding: 20px;
		}

		&__title{
			font-size: 20px;
			line-height: 1.2;
			margin: 2px 0;
		}
		
		.section__head{
			margin: 4px 0 8px;
			min-height: 48px;
		}

		.container{
			padding: 30px 10px 30px 10px;
		}

		&__box-1{
			transform: translateX(0);
			left: 0;
			top: 0;
			height: 160px;
			width: 90px;
		}

		&__box-2{
			display: none;
		}
	}
}

.sponsors-list{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 4px 0 0;

	&__link{
		display: flex;
		margin: 14px 0 0;
		transition: all ease 0.1s;
		padding: 10px 15px;
		align-items: center;
		justify-content: center;

		&:hover{
			transform: scale(0.9);
		}
	}

	&__img{
		
	}

	@media only screen and (max-width : 1024px) {
		justify-content: flex-start;

		&__link{
			width: 33%;

			img{
				max-width: 100%;
				height: auto;
			}
		}

	}

	@media only screen and (max-width : 480px) {

		&__link{
			width: 50%;
			margin: 4px 0 0;
		}
	}
}

.past{
	position: relative;

	&__intro{
		background-color: #230cea;
		width: 1200px;
		height: 280px;
		top: -87px;
		left: 55%;
		position: absolute;

		iframe{
			height: 280px;
		}
	}

	&__box-1{
		position: absolute;
		top: 135px;
		left: 50%;
		width: 600px;
		height: 390px;
		transform: translateX(-152.5%);
		background-color: #230cea;
	}

	.container{
		max-width: 1170px;
		padding-top: 116px;
		z-index: 1;
	}
	
	.section__head{
		margin: 106px 0 103px;
	}

	@media only screen and (max-width : 768px) {

		&__intro{
			display: none;
		}
		
		.section__head{
			margin: 4px 0 0;
			min-height: 48px;
		}

		.container{
			padding: 30px 10px 30px 10px;
		}

		&__box-1{
			transform: translateX(0);
			left: 90px;
			top: 0;
			height: 160px;
			width: 700px;
		}

		&__box-2{
			display: none;
		}
	}
}

.twitts-list{
	position: relative;
	column-count: 3;
	column-gap: 30px;
	z-index: 1;

	.twitter-tweet{
		transform: none !important;
	}

	/*&__col{
		width: 100%;
		max-width: 350px;
		min-width: 200px;
		margin: 0 0 0 10px;

		&:nth-child(3n){
			top: 60px;
		}

		&:nth-child(2n){
			top: 80px;
		}

		&:nth-child(1n){
			top: 100px;
		}
	}*/

	&__item{
		width: 100%;
		max-width: 350px;
		margin-bottom: 10px;
		display:inline-block;
	}

	@media only screen and (max-width : 860px) {
		column-gap: 20px;
		columns: 2;

		&__item{
			max-width: none;
			margin: 0;
		}
	}

	@media only screen and (max-width : 500px) {
		column-gap: 20px;
		columns: 1;
	}
}

.cfp{
	position: relative;
	max-width: 720px;
	width: 100%;
	margin: 80px auto 70px;
	background: #fff;
	z-index: 1;
	padding: 30px;
	text-align: center;
	min-height: 290px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__title{
		font-size: 36px;
		font-weight: 600;
		text-align: center;
		color: #023753;
		margin: 0;
	}

	&__link{
		align-items: center;
		display: flex;
		height: 60px;
		font-size: 14px;
		color: #ffffff;
		font-weight: 600;
		margin: 42px auto 0;
		white-space: nowrap;
		min-width: 240px;
		max-width: 280px;
		width: 100%;
		padding: 0 10px;
		justify-content: center;
		background: #230cea;
		z-index: 1;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&:hover{
			background: #4028ff;
		}
	}

	@media only screen and (max-width : 768px) {
		padding: 20px;
		min-height: 200px;
		margin: 40px auto 30px;
		
		&__title{
			font-size: 20px;
			line-height: 1.2;
		}

		&__link{
			margin: 30px 0 0;
			height: 50px;
		}
	}
}


.pace{
	@media only screen and (max-width : 768px) {
		display: none;
	}
}

.pace-running{

	@media only screen and (min-width : 768px) {
		/*.wrapper{
			opacity: 0;
		}*/
	}
}

.pace-done{

	@media only screen and (min-width : 768px) {

		.wrapper{
			opacity: 1;
		}

		.bg-hand{
			will-change: transform;
			animation-duration: 2.5s;
			animation-name: hand-slidein;

			@keyframes hand-slidein {
				from {
					transform: translate(-43%, 100px);
				}

				to {
					transform: translate(-43%, 0);
				}
			}
		}

		.intro{

			&__info{
				will-change: transform;
				animation-duration: 2s;
				animation-name: left-slidein;

				@keyframes left-slidein {
					0% {
						transform: translate(-100px, 50px);
						opacity: 0;
					}

					50% {
						transform: translate(-100px, 50px);
						opacity: 0;
					}

					100% {
						transform: translate(0, 0);
						opacity: 1;
					}
				}
			}

			&__buildings{
				will-change: transform;
				animation-duration: 2.3s;
				animation-name: buildings-slidein;

				@keyframes buildings-slidein {
					from {
						transform: translate(-50%, 0) scale(1.3);
					}

					to {
						transform: translate(-50%, 0) scale(1);
					}
				}
			}

			.bg-back{
				will-change: transform;
				animation-duration: 2s;
				animation-name: bg-back-slidein;

				@keyframes bg-back-slidein {
					from {
						transform: translate(-50%, 0) scale(1.2);
					}

					to {
						transform: translate(-50%, 0) scale(1);
					}
				}
			}

			.bg-moon-back{
				will-change: transform;
				animation-duration: 4s;
				animation-name: bg-moon-back-slidein;

				@keyframes bg-moon-back-slidein {
					0% {
						opacity: 0;
						transform: translate(-50%, -50%) scale(2);
					}

					25% {
						opacity: 0;
						transform: translate(-50%, -50%) scale(2) rotate(-160deg);
					}

					50% {
						opacity: 1;
					}

					100% {
						transform: translate(-50%, -50%) scale(1) rotate(0);
					}
				}
			}

			.bg-moon{
				will-change: transform;
				animation-duration: 3s;
				animation-name: bg-moon-slidein;

				@keyframes bg-moon-slidein {
					0% {
						opacity: 0;
						transform: translate(-50%, -50%) scale(1.5) rotate(-160deg);
					}

					25% {
						opacity: 0;
						transform: translate(-50%, -50%) scale(1.5) rotate(-160deg);
					}

					50% {
						opacity: 1;
					}

					100% {
						opacity: 1;
						transform: translate(-50%, -50%) scale(1) rotate(0);
					}
				}
			}

			.conf-stats{
				will-change: transform;
				animation-duration: 3.5s;
				animation-name: conf-stats-slidein;

				@keyframes conf-stats-slidein {
					0% {
						opacity: 0;
						transform: translateX(100px);
					}

					75% {
						opacity: 0;
						transform: translateX(100px);
					}

					100% {
						opacity: 1;
						transform: translateX(0);
					}
				}
			}

			&__loc{
				will-change: transform;
				animation-duration: 3s;
				animation-name: loc-slidein;

				@keyframes loc-slidein {
					0% {
						opacity: 0;
					}

					60% {
						opacity: 0;
					}

					100% {
						opacity: 1;
					}
				}
			}

			&__btn-wrap{
				will-change: transform;
				animation-duration: 4s;
				animation-name: btn-wrap-slidein;

				@keyframes btn-wrap-slidein {
					0% {
						opacity: 0;
					}

					80% {
						opacity: 0;
					}

					100% {
						opacity: 1;
					}
				}
			}

			&__head{
				will-change: transform;
				animation-duration: 4.5s;
				animation-name: head-slidein;

				@keyframes head-slidein {
					0% {
						opacity: 0;
					}

					85% {
						opacity: 0;
					}

					100% {
						opacity: 1;
					}
				}
			}
		}
	}

	@media only screen and (max-width : 768px) {
		/*.bg-hand{

			animation-duration: 2.5s;
			animation-name: hand-slidein;

			@keyframes hand-slidein {
				from {
					transform: translate(0, 100px);
				}

				to {
					transform: translate(0, 0);
				}
			}
		}*/
	}
}